html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
  font-size: 1.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50vw;
  height: 60vh;
  border: 1px solid #00ffff;
  background-color: rgba(0, 255, 255, 0.2);
  padding: 1em;
}
